.cards {
    max-width: 76.88%;
    margin: 0 auto 92px auto;
}

@media screen and (max-width: 1024px) {
    .cards {
        max-width: 90.63%;
        margin: 0 auto 103px auto;  
    }
}

@media screen and (max-width: 768px) {
    .cards {
        max-width: 92.31%;
        margin: 0 auto 90px auto;  
    }
}

@media screen and (max-width: 520px) {
    .cards {
        max-width: 100%;
        margin: 0 auto 66px auto;  
    }
}

