.photo-grid {
    max-width: 1184px;
    margin: 0 auto 105px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1225px) {
    .photo-grid {
        max-width: 1128px;
        padding: 0 48px;
        gap: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        padding: 0;
        gap: 14px;
    }
}

@media screen and (max-width: 950px) {
    .photo-grid {
        max-width: 828px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 800px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        padding: 0;
    }
}

@media screen and (max-width: 745px) {
    .photo-grid {
        max-width: 660px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 360px) {
    .photo-grid {
        max-width: 288px;
        display: block;
        margin:0 auto 64px auto;
        padding: 0;
    }
}


