.lead {
    max-width: 76.88%;
    margin: 0 auto 102px;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1140px) {
    .lead {
        max-width: 88.44%;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 90.63%;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        margin: 0 auto 100px auto;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 0 auto 76px auto;
    }
}