.footer__links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;  
}

@media screen and (max-width: 520px) {
    .footer__links {
        max-width: 100%;
        display: block; 
    }
}

