.places__card {
    margin-bottom: 68px;
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
}

.places__card:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places__card {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places__card {
        margin-bottom: 66px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}