.footer__link-calendar {
    max-width: 86px;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

@media screen and (max-width: 320px) {
    .footer__link-calendar {
        max-width: 128px;
    }
}