.cover__title {
    max-width: 560px;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    margin: 245px auto 32px auto;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 560px;
        margin: 195px auto 32px auto;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 560px;
        margin: 115px auto 32px auto;
    }
}

@media screen and (max-width: 525px) {
    .cover__title {
        max-width: 288px;
        font-size: 42px;
        line-height: 46px;
        margin: 33px auto 16px auto;
    }
} 

@media screen and (max-width: 426px) {
    .cover__title {
        max-width: 288px;
        font-size: 42px;
        line-height: 46px;
        margin: 33px auto 16px auto;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 33px auto 16px auto;
    }
}