.footer {
    max-width: 92.5%;
    margin: 0 auto 0 auto;
    padding: 0 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.63%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 93.75%;
    }
}

@media screen and (max-width: 718px) {
    .footer {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 95%;
        margin: 0 0 0 16px;
    }
}