.place__column-two {
    width: 49.19%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .place__column-two {
        width: 49.14%;
    }  
}

@media screen and (max-width: 768px) {
    .place__column-two {
        width: 48.89%;
    } 
}

@media screen and (max-width: 320px) {
    .place__column-two {
        width: 100%;
    }   
}